---
import Layout from '../layouts/Layout.astro';
import LeftSidebar from '../components/LeftSidebar.tsx';
import RightSidebar from '../components/RightSidebar.tsx';
import Header from '../components/Header.tsx';
import MetricCards from '../components/MetricCards.tsx';
import StatisticsChart from '../components/StatisticsChart.tsx';
---

<Layout>
	<div class="flex min-h-screen">
		<LeftSidebar client:load currentPage="organization" />
		<main class="flex-1 ml-16 mr-80 p-8 bg-gray-50">
			<Header client:load />
			<MetricCards client:load />
			<StatisticsChart client:load />
		</main>
		<RightSidebar client:load />
	</div>
</Layout>
